*html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 119, 1) 47%, #df33df);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.grid-cover {
    display: grid;
    height: 100vh;
    width: 100vw;
    gap: 3em;
    grid-template-rows: 50% 50%;
    position: fixed;
    z-index: -1000;
}

.grid-up,
.grid-btm {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.contenedor-galeria {
    width: 90%;
    height: 502px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.contenedor-galeria-center {
    width:90%;
    height: 502px;
    position: absolute;
    left: 50%;
    top: 121.8%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.contenedor-galeria-down {
    width: 90%;
    height: 502px;
    position: absolute;
    left: 50%;
    top: 193%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.contenedor-galeria-sub {
    width: 90%;
    height: 502px;
    position: absolute;
    left: 50%;
    top: 270%;
    padding-bottom: 5rem;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.img1 {
    float: left;
    width: 206px;
    height: 298px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    float: right;
    margin-right: 225px;
    width: 214px;
    height: 226px;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    float: right;
    margin-right: 0px;
    margin-top: -226px;
    width: 214px;
    height: 329px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
}

.img4 {
    float: left;
    margin-right: 32px;
    margin-top: 12px;
    width: 206px;
    height: 192px;
    background-image: url(../img/img4.jpg);
    background-size: cover;
    background-position: center;
}

.img5 {
    float: right;
    margin-right: 225px;
    margin-top: -264px;
    width: 214px;
    height: 264px;
    background-image: url(../img/img5.jpg);
    background-size: cover;
    background-position: center;
}

.img6 {
    float: right;
    margin-right: 0px;
    margin-top: -161px;
    width: 214px;
    height: 161px;
    background-image: url(../img/img6.jpg);
    background-size: cover;
    background-position: center;
}

.img7 {
    float: left;
    width: 206px;
    height: 298px;
    background-image: url(../img/img7.jpg);
    background-size: 150% 120%;
    background-position: center;
    background-size: cover;
}

.img8 {
    float: right;
    margin-right: 225px;
    width: 214px;
    height: 226px;
    background-image: url(../img/img8.jpg);
    background-size: cover;
    background-position: center;
}

.img9 {
    float: right;
    margin-right: 0px;
    margin-top: -226px;
    width: 214px;
    height: 329px;
    background-image: url(../img/img9.jpg);
    background-position: center;
    background-size: cover;
}

.img10 {
    float: left;
    margin-right: 32px;
    margin-top: 12px;
    width: 206px;
    height: 192px;
    background-image: url(../img/img10.jpg);
    background-size: cover;
    background-position: center;
}

.img11 {
    float: right;
    margin-right: 225px;
    margin-top: -264px;
    width: 214px;
    height: 264px;
    background-image: url(../img/img11.jpg);
    background-size: cover;
    background-position: center;
}

.img12 {
    float: right;
    margin-right: 0px;
    margin-top: -161px;
    width: 214px;
    height: 161px;
    background-image: url(../img/img12.jpg);
    background-size: cover;
    background-position: center;
}

.img13 {
    float: left;
    width: 206px;
    height: 298px;
    background-image: url(../img/img13.jpg);
    background-size: 150% 120%;
    background-position: center;
    background-size: cover;
}

.img14 {
    float: right;
    margin-right: 225px;
    width: 214px;
    height: 226px;
    background-image: url(../img/img14.jpg);
    background-size: 170% 100%;
    background-position: center;
}

.img15 {
    float: right;
    margin-right: 0px;
    margin-top: -226px;
    width: 214px;
    height: 329px;
    background-image: url(../img/img15.jpg);
    background-position: center;
}

.img16 {
    float: left;
    margin-right: 32px;
    margin-top: 12px;
    width: 206px;
    height: 192px;
    background-image: url(../img/img16.jpg);
    background-size: 200% 100%;
    background-position: center;
}

.img17 {
    float: right;
    margin-right: 225px;
    margin-top: -264px;
    width: 214px;
    height: 264px;
    background-image: url(../img/img17.jpg);
    background-size: 200% 100%;
    background-position: center;
}

.img18 {
    float: right;
    margin-right: 0px;
    margin-top: -161px;
    width: 214px;
    height: 161px;
    background-image: url(../img/img18.jpg);
    background-size: 120% 130%;
    background-position: center;
}
