*html {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 119, 1) 47%, #df33df);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 2px;
}

h1 {
    font-size: 3rem;
    padding: 0;
    text-align: center;
}

.icon {
    transform: translateY(-90%);
}

div.grid-cover {
    display: grid;
    height: 100vh;
    width: 100vw;
    gap: 3em;
    grid-template-rows: 50% 50%;
    position: fixed;
    z-index: -1000;
    transform: translateY(-110em)
}

.grid-up,
.grid-btm {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 17.5rem 17.5rem;
    gap: 0.3em;
    width: 100%;
    height: 75vh;
    top: 6rem;
}

.contenedor-galeria-center {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 17.5rem 17.5rem;
    gap: 0.3em;
    width: 100%;
    height: 75vh;
}

.contenedor-galeria-down {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 17.5rem 17.5rem;
    gap: 0.3em;
    width: 100%;
    height: 75vh;
}

.contenedor-galeria-sub {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 17.5rem 17.5rem;
    gap: 0.3em;
    width: 100%;
    height: 75vh;
}

@media (min-width:600px) {
    section.content-album {
        transform: translateX(16%);
        width: 75%;
    }
    div.width {
        gap: 1em;
        padding-top: 2em;
    }
}

@media (min-width: 1200px) {
    section.content-album {
        width: 70%;
    }
}

.img1 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 100%;
    height: 21rem;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
}

.img4 {
    transform: translateY(-3.5rem);
    width: 100%;
    height: 21rem;
    background-image: url(../img/img4.jpg);
    background-size: cover;
    background-position: center;
}

.img5 {
    margin-top: 3.5rem;
    width: 100%;
    height: 14rem;
    background-image: url(../img/img5.jpg);
    background-size: cover;
    background-position: center;
}

.img6 {
    transform: translateY(-3.5rem);
    width: 100%;
    height: 21rem;
    background-image: url(../img/img6.jpg);
    background-size: cover;
    background-position: center;
}

.img7 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img7.jpg);
    background-size: cover;
    background-position: center;
}

.img8 {
    width: 100%;
    height: 21rem;
    background-image: url(../img/img8.jpg);
    background-size: cover;
    background-position: center;
}

.img9 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img9.jpg);
    background-position: center;
    background-size: cover;
}

.img10 {
    transform: translateY(-1.8rem);
    width: 100%;
    height: 21rem;
    background-size: cover;
    background-position: center;
}

.img11 {
    transform: translateY(3.5rem);
    width: 100%;
    height: 14rem;
    background-image: url(../img/img11.jpg);
    background-size: cover;
    background-position: center;
}

.img12 {
    transform: translateY(-3.5rem);
    width: 100%;
    height: 21rem;
    background-image: url(../img/img12.jpg);
    background-size: cover;
    background-position: center;
}

.img13 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img13.jpeg);
    background-size: cover;
    background-position: center;
}

.img14 {
    width: 100%;
    height: 21rem;
    background-image: url(../img/img14.jpg);
    background-size: cover;
    background-position: center;
}

.img15 {
    width: 100%;
    height: 14rem;
    background-image: url(../img/img15.jpeg);
    background-position: center;
    background-size: cover;
}

.img16 {
    transform: translateY(-3.5rem);
    width: 100%;
    height: 21rem;
    background-image: url(../img/img16.jpg);
    background-size: cover;
    background-position: center;
}

.img17 {
    margin-top: 1.8rem;
    width: 100%;
    height: 14rem;
    background-image: url(../img/img17.jpg);
    background-size: cover;
    background-position: center;
}

.img18 {
    transform: translateY(-3.5rem);
    width: 100%;
    height: 21rem;
    background-image: url(../img/img18.jpg);
    background-size: cover;
    background-position: center;
}